<ul style="position:sticky; top:20px;list-style-type: none; padding-inline-start: 0px;">
    {% for item in site.data.navigation %}
    <li>

        <a href="{{ item.link }}" {% if page.url==item.link %} class="current" {% endif %}>
            {{ item.name }}
        </a>
    </li>
    {% endfor %}

    <!-- filter out the posts collection -->
    {% assign collections = site.collections | where_exp: "collection", "collection.label != 'posts'" %}
    {% for collection in collections %}
    <li>

        {{ collection.label | capitalize }}
        <ul style=" padding-inline-start: 20px;">

            {% for item in collection.docs %}
            <li>

                <a href="{{ item.url }}" {% if page.url==item.url %} class="current" {% endif %}>
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
    </li>
</ul>
{% endfor %}
</ul>