<div style="position:sticky; top:20px;list-style-type: none; padding-inline-start: 0px; text-align: center;">
    {% for item in site.data.navigation %}
    <li>

        <a href="{{ item.link }}" {% if page.url==item.link %} class="current" {% endif %}>
            {{ item.name }}
        </a>
    </li>
    {% endfor %}

    <!-- filter out the posts collection -->
    {% assign collections = site.collections | where_exp: "collection", "collection.label != 'posts'" %}
    {% for collection in collections %}
    <li>

        <h3 style="margin-bottom: 0;">
            {{ collection.label | capitalize }}
        </h3>
        <hr style="color:var(--fg-color); width:80%">
        <ul style=" padding-inline-start: 10px; list-style-type:none;">

            {% for item in collection.docs %}
            <li style="margin-top:8px">

                <a href="{{ item.url }}" {% if page.url==item.url %} class="current" {% endif %}">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
    </li>
    </ul>
    {% endfor %}
</div>