@font-face {
    font-family: Bungee;
    /* set name */
    src: url(/assets/fonts/Bungee-Regular.ttf);
    /* url of the font */
}

// colors
:root {
    --bg-color: rgb(31, 47, 39);
    --fg-color: rgb(224, 237, 210);
    --selected-link-color: chartreuse;
    --link-color: green;
}


.current {
    color: var(--selected-link-color);
}


a {
    color: var(--link-color);
}

html {
    display: table;
    margin: auto;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    display: table-cell;
    vertical-align: middle;
    padding-left: 50px;
    padding-right: 50px;
    // max-width: 900px;
    width: 1000px;
}

h1 {
    font-family: Bungee;
}