<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="icon" href="assets/images/hat.ico" type="image/x-icon">
</head>

<body>
    <h1 style="padding-left:20px;">{{ page.title }}</h1>
    <hr>
    <div style="width: 100%; display:flex;">
        <!-- left column -->
        <div style="flex:10%; height: 300px; padding-left:20px;">
            {% include navigation_vertical.html %}
        </div>
        <!-- right column -->
        <div style="flex:90%; padding-left:20px; padding-right:20px;">
            {{ content }}
        </div>
    </div>

</body>

</html>